<!--

<nav class="navbar fixed-top navbar-expand-lg" id="basicNav">
    <a id="nav-index" class="navbar-brand" routerLink="/">PROGblog</a>
    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" *ngIf="isLoggedIn" id="post-list-link" routerLink="/posts">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="isLoggedIn" id="post-form-link" routerLink="/postForm">New Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="registration" routerLink="/registration">Registration</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLoggedIn" class="nav-link" id="fullcalendar" routerLink="/fullcalendar">Calendar</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLoggedIn" class="nav-link" id="meetingRoom" routerLink="/meetingRoom-form">New meeting
                    room</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLoggedIn" class="nav-link" id="meeting-form" routerLink="/meetingReservation">Meeting</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLoggedIn" class="nav-link" id="timeOff-form" routerLink="/timeOffForm">Request Time Off</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLoggedIn" class="nav-link" id="timeOff-list" routerLink="/timeOff-list">Requested Time
                    Off</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="isLoggedIn" id="suggestion-box" routerLink="/suggestion-box">Suggestion
                    box</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="isLoggedIn" id="open-position" routerLink="/open-position">Open positions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="isLoggedIn" id="login" routerLink="/login" (click)="logout()">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="!isLoggedIn" id="logout" routerLink="/login">Login</a>
            </li>
            <p *ngIf="isLoggedIn" align="center" class="nav-item">
                You are logged in with id: {{userId}}
            </p>
        </ul>
    </div>
</nav>
-->


<mat-toolbar class="header">
    <mat-toolbar-row>
        <button mat-icon-button *ngIf="isLoggedIn" (click)="toggleInTs(sidenavStart, sidenav)" fxShow="true">
            <mat-icon>face</mat-icon>
        </button>
        <span *ngIf="isLoggedIn">id: {{userId}}  </span>
        <!--            <span class="menu-spacer"></span>-->
        <div fxShow="true" fxHide.lt-md>

            <a href="#" mat-button *ngIf="isLoggedIn" id="post-list-link" routerLink="/posts"
               routerLinkActive="active-link">Posts</a>

            <a href="#" mat-button id="registration" routerLink="/registration" routerLinkActive="active-link">Registration</a>

            <a href="#" mat-button *ngIf="isLoggedIn" id="meetingRoom" routerLink="/meetingRoom-form">New meeting
                room</a>

            <a href="#" mat-button *ngIf="isLoggedIn" id="meeting-form" routerLink="/meetingReservation">Meeting</a>

            <a href="#" mat-button *ngIf="isLoggedIn" id="timeOff-list" routerLink="/timeOff-list">Requested Time
                Off</a>

            <a href="#" mat-button *ngIf="isLoggedIn" id="suggestion-box" routerLink="/suggestion-box">Suggestion
                box</a>

            <a href="#" mat-button *ngIf="isLoggedIn" id="open-position" routerLink="/open-position">Open
                positions</a>

            <a href="#" mat-button *ngIf="!isLoggedIn" id="logout" routerLink="/login">Login</a>

        </div>
        <span class="menu-spacer"></span>
        <button mat-icon-button (click)="toggleInTs(sidenav, sidenavStart)" fxShow="true" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<!--style="height: 100vh;background-color: #4e555b;"-->
<mat-sidenav-container class="sidenav-container" fxFlexFill>
    <mat-sidenav position="end" #sidenav>
        <mat-nav-list>
            <!--                <a (click)="sidenav.toggle()" mat-list-item>Close</a>-->

            <a (click)="sidenav.toggle()" href="#" mat-list-item *ngIf="isLoggedIn" routerLink="/posts"
               routerLinkActive="active-link">Posts</a>

            <a href="#" (click)="sidenav.toggle()" mat-list-item routerLink="/registration"
               routerLinkActive="active-link">Registration</a>

            <a href="#" (click)="sidenav.toggle()" mat-list-item *ngIf="isLoggedIn" routerLink="/meetingRoom-form"
               routerLinkActive="active-link">New meeting
                room</a>

            <a href="#" (click)="sidenav.toggle()" mat-list-item *ngIf="isLoggedIn" routerLink="/meetingReservation"
               routerLinkActive="active-link">Meeting</a>

            <a href="#" (click)="sidenav.toggle()" mat-list-item *ngIf="isLoggedIn" routerLink="/timeOff-list"
               routerLinkActive="active-link">Requested
                Time
                Off</a>

            <a href="#" (click)="sidenav.toggle()" mat-list-item *ngIf="isLoggedIn" routerLink="/suggestion-box"
               routerLinkActive="active-link">Suggestion
                box</a>

            <a href="#" (click)="sidenav.toggle()" mat-list-item *ngIf="isLoggedIn" routerLink="/open-position"
               routerLinkActive="active-link">Open
                positions</a>

            <a href="#" (click)="sidenav.toggle()" mat-list-item *ngIf="!isLoggedIn" routerLink="/login"
               routerLinkActive="active-link">Login</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav position="start" #sidenavStart>
        <mat-nav-list>
            <!--                <a (click)="sidenavStart.toggle()" mat-list-item>Close</a>-->
            <a (click)="sidenavStart.toggle()" mat-list-item *ngIf="isLoggedIn">My profile</a>

            <a href="#" (click)="sidenavStart.toggle()" mat-list-item *ngIf="isLoggedIn" routerLink="/postForm"
               routerLinkActive="active-link">New
                Post</a>

            <a href="#" (click)="sidenavStart.toggle()" mat-list-item *ngIf="isLoggedIn" routerLink="/fullcalendar"
               routerLinkActive="active-link">Calendar</a>

            <!--                <a href="#" mat-list-item *ngIf="isLoggedIn" routerLink="/meetingRoom-form"-->
            <!--                   routerLinkActive="active-link">New meeting-->
            <!--                    room</a>-->

            <!--                <a href="#" mat-list-item *ngIf="isLoggedIn" routerLink="/meetingReservation"-->
            <!--                   routerLinkActive="active-link">Meeting</a>-->

            <a href="#" (click)="sidenavStart.toggle()" mat-list-item *ngIf="isLoggedIn" routerLink="/timeOffForm"
               routerLinkActive="active-link">Request
                Time Off</a>

            <a (click)="sidenavStart.toggle()" *ngIf="isLoggedIn" href="#" mat-list-item routerLink="/meeting-list"
               routerLinkActive="active-link">My meetings</a>


            <!--                <a href="#" mat-list-item *ngIf="isLoggedIn" routerLink="/timeOff-list" routerLinkActive="active-link">Requested-->
            <!--                    Time-->
            <!--                    Off</a>-->

            <!--                <a href="#" mat-list-item *ngIf="isLoggedIn" routerLink="/suggestion-box"-->
            <!--                   routerLinkActive="active-link">Suggestion-->
            <!--                    box</a>-->

            <!--                <a href="#" mat-list-item *ngIf="isLoggedIn" routerLink="/open-position" routerLinkActive="active-link">Open-->
            <!--                    positions</a>-->

            <a (click)="sidenavStart.toggle()" mat-list-item *ngIf="isLoggedIn">My gallery</a>
            <a (click)="sidenavStart.toggle()" mat-list-item *ngIf="isLoggedIn">Favorite posts</a>

            <a href="#" (click)="sidenavStart.toggle()" mat-list-item *ngIf="isLoggedIn" routerLink="/login"
               routerLinkActive="active-link"
               (click)="logout()">Logout</a>


        </mat-nav-list>
    </mat-sidenav>
    <div class="container app_container" style="height: 100vh;">
        <div style="background-color: #4e555b">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-sidenav-container>
<mat-toolbar class="footer">
    <mat-toolbar-row>
        <span class="menu-spacer"></span>
        <div style="margin-right: 55px">
            <span>
                <div style="font-size: small;">
                    <span>{{location}}: {{weather}}, wind: {{wind}}</span>
                </div>
                <span style="font-size: xx-large; text-align: center">{{temperature}}</span>
            </span>
            <span style="margin: 10px"> Humidity:{{humidity}}</span>
        </div>
        <div class="time">
            <small>{{actualTime.getDate()}}.{{actualTime.getMonth() + 1}}.{{actualTime.getFullYear()}}</small>
            <br>
            <span class="clock">{{actualTime.getHours()}}:{{actualMinutes}}:{{actualSeconds}}</span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>


<!--<nav mat-tab-nav-bar  class="basic-container container app_container">-->
<!--    <a mat-tab-link #rla="routerLinkActive" *ngFor="let device of devices;let i=index" [routerLink]="device.path"-->
<!--       routerLinkActive="active" [active]="rla.isActive">{{device.path}}-->
<!--    </a>-->
<!--</nav>-->
<!--<router-outlet></router-outlet>-->
