<!--<div class="sidenav">
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#contact">Contact</a>
</div>
-->


<nav class="navbar fixed-top navbar-expand-lg" id="basicNav">
    <a id="nav-index" class="navbar-brand" routerLink="/">PROGblog</a>
    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" id="post-list-link" routerLink="/posts">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="post-form-link" routerLink="/postForm">New Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="registration" routerLink="/registration">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="login" routerLink="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>
