<!--<div class="sidenav">
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#contact">Contact</a>
</div>
-->


<nav class="navbar fixed-top navbar-expand-lg" id="basicNav">
    <a id="nav-index" class="navbar-brand" routerLink="/">PROGblog</a>
    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" *ngIf="isLoggedIn" id="post-list-link" routerLink="/posts">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="isLoggedIn" id="post-form-link" routerLink="/postForm">New Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="registration" routerLink="/registration">Registration</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLoggedIn" class="nav-link" id="fullcalendar" routerLink="/fullcalendar">Calendar</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLoggedIn" class="nav-link" id="meetingRoom" routerLink="/meetingRoom-form">New meeting
                    room</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLoggedIn" class="nav-link" id="meeting-form" routerLink="/meetingReservation">Meeting</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLoggedIn" class="nav-link" id="timeOff-form" routerLink="/timeOffForm">Request Time Off</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLoggedIn" class="nav-link" id="timeOff-list" routerLink="/timeOff-list">Requested Time
                    Off</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="isLoggedIn" id="suggestion-box" routerLink="/suggestion-box">Suggestion
                    box</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="isLoggedIn" id="open-position" routerLink="/open-position">Open positions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="isLoggedIn" id="login" routerLink="/login" (click)="logout()">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="!isLoggedIn" id="logout" routerLink="/login">Login</a>
            </li>
            <p *ngIf="isLoggedIn" align="center" class="nav-item">
                You ar logged in with id: {{userId}}
            </p>
        </ul>
    </div>
</nav>
