<div class="row">
    <div class="col-md-6">
        <div class="btn-group">
            <div
                [(viewDate)]="viewDate"
                [view]="'week'"
                class="btn btn-primary"
                mwlCalendarPreviousView
            >
                Previous
            </div>
            <div
                [(viewDate)]="viewDate"
                class="btn btn-outline-secondary"
                mwlCalendarToday
            >
                Today
            </div>
            <div
                [(viewDate)]="viewDate"
                [view]="'week'"
                class="btn btn-primary"
                mwlCalendarNextView
            >
                Next
            </div>
        </div>
    </div>
    <div class="col-md-6 text-right">
        <h3>{{ viewDate | calendarDate:('weekViewTitle') }}</h3>
    </div>
</div>
<br/>

<!--<div class="alert alert-info">
    Click on a day or time slot on the view.
    <strong *ngIf="clickedDate"
    >You clicked on this time: {{ clickedDate | date:'medium' }}</strong
    >
    <strong *ngIf="clickedColumn != null"
    >You clicked on this column: {{ clickedColumn }}</strong
    >
</div>
-->

<div [ngSwitch]="view">
    <mwl-calendar-week-view
        (dayHeaderClicked)="clickedDate = $event.day?.date"
        (hourSegmentClicked)="clickOnHourSegment($event?.date)"
        *ngSwitchCase="'week'"
        [events]="events"
        [viewDate]="viewDate"
    >
    </mwl-calendar-week-view>
</div>


