<div class="mat-app-background basic-container">
    <!--    <mat-card class="basic-container">-->

    <mat-tab-group [(selectedIndex)]="index" animationDuration="200ms" dynamicHeight>
        <mat-tab label="New meeting room">

            <form (ngSubmit)="saveRoom()" [formGroup]="meetingRoomForm">
                <mat-form-field appearance="fill" class="example-width-half">
                    <mat-label>Room name</mat-label>
                    <input formControlName="name" matInput required>
                    <mat-error *ngIf="meetingRoomForm.get('name').invalid
                        && meetingRoomForm.get('name').touched
                        && !meetingRoomForm.get('name').errors?.serverError">
                        Please enter a room name
                    </mat-error>
                <mat-hint>Please enter a room name</mat-hint>
                <mat-error>{{meetingRoomForm.get('name').errors?.serverError}}</mat-error>
            </mat-form-field>
            <br>

            <mat-form-field appearance="fill" class="example-width-half">
                <mat-label>Number of seats</mat-label>
                <input formControlName="seats" matInput required type="number">
                <mat-hint>Please enter the number of seats</mat-hint>
                <mat-error *ngIf="meetingRoomForm.get('seats').invalid
            && meetingRoomForm.get('seats').touched
            && !meetingRoomForm.get('seats').errors?.serverError">
                    Please enter the number of seats (minimum 2)
                </mat-error>
                <mat-error>{{meetingRoomForm.get('seats').errors?.serverError}}</mat-error>
            </mat-form-field>
                <br>
                <button color="primary" mat-raised-button type="submit">Save room</button>
            </form>
        </mat-tab>

        <mat-tab label="Meeting Rooms">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let room of activeMeetingRooms" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{room.name}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Seats: {{room.seats}}</p>
                    <mat-action-row>
                        <button (click)="deleteMeetingRoom(room.roomId)" color="warn" mat-raised-button>
                            Delete
                        </button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>
    </mat-tab-group>
</div>




