<div>
    <h3>New Post</h3>
    <hr/>

    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="category">Select a category</label>
            <select [ngClass]="{
                'is-invalid': postForm.get('category').invalid && postForm.get('category').touched || postForm.get('category').errors?.serverError
                }" class="form-control" formControlName="category"
                    id="category">
                <option *ngFor="let category of categories" value="{{category.name}}">{{category.displayName}}</option>
            </select>
            <small *ngIf="postForm.get('category').invalid && postForm.get('category').touched" class="text-danger">Please
                choose a category</small>
            <small class="text-danger">{{postForm.get('category').errors?.serverError}}</small>
        </div>

        <div class="form-group">
            <label for="type">Select type</label>
            <select (change)="getTypeValue()" [ngClass]="{
                'is-invalid': postForm.get('type').invalid && postForm.get('type').touched || postForm.get('type').errors?.serverError
                }" class="form-control" formControlName="type"
                    id="type">
                <option *ngFor="let type of types" value="{{type.name}}">{{type.displayName}}</option>
            </select>
            <small *ngIf="postForm.get('type').invalid && postForm.get('type').touched" class="text-danger">Please
                choose a type</small>
            <small class="text-danger">{{postForm.get('type').errors?.serverError}}</small>
        </div>

        <div class="form-group">
            <label for="title">Title</label>
            <input
                type="text"
                id="title"
                formControlName="title"
                class="form-control"
                [ngClass]="{
                'is-invalid': postForm.get('title').invalid && postForm.get('title').touched || postForm.get('title').errors?.serverError
                }"
            >
            <small
                *ngIf="postForm.get('title').invalid
                        && postForm.get('title').touched
                        && !postForm.get('title').errors?.serverError"
                class="text-danger"
            >
                Please enter a title
            </small>
            <small *ngIf="postForm.get('title').errors?.serverError" class="text-danger">
                {{postForm.get('title').errors['serverError']}}
            </small>
        </div>

        <div class="form-group">
            <label for="postBody">Text</label>
            <textarea
                rows="10"
                id="postBody"
                formControlName="postBody"
                placeholder="Write something..."
                class="form-control"
                [ngClass]="{
                'is-invalid': postForm.get('postBody').invalid && postForm.get('postBody').touched || postForm.get('postBody').errors?.serverError
                }"
            >
            </textarea>
            <small
                *ngIf="postForm.get('postBody').invalid
                        && postForm.get('postBody').touched
                        && !postForm.get('postBody').errors?.serverError"
                class="text-danger"
            >
                Please enter the body of the post
            </small>
            <small *ngIf="postForm.get('postBody').errors?.serverError" class="text-danger">
                {{postForm.get('postBody').errors['serverError']}}
            </small>
        </div>

        <div class="form-group">
            <label for="picture">Picture (optional)</label>
            <input
                (change)="onFileChange($event)" type="file"
                [ngClass]="{
                'is-invalid': postForm.get('picture').invalid && postForm.get('picture').touched || postForm.get('picture').errors?.serverError
                }"
                formControlName="picture"
                id="picture"
                class="form-control"
                name="file"
            >
            <button (click)="upload()">upload</button>
        </div>

        <div *ngIf="isEvent" formGroupName="address">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="country">Country</label>
                    <input class="form-control" formControlName="country" id="country" type="text">
                </div>
                <div class="form-group col-md-4">
                    <label for="zipCode">Zip Code</label>
                    <input class="form-control" formControlName="zipCode" id="zipCode" type="text">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="city">City</label>
                    <input class="form-control" formControlName="city" id="city" type="text">
                </div>
                <div class="form-group col-md-4">
                    <label for="street">Street</label>
                    <input class="form-control" formControlName="street" id="street" type="text">
                </div>
                <div class="form-group col-md-2">
                    <label for="number">Number</label>
                    <input class="form-control" formControlName="number" id="number" type="text">
                </div>
            </div>
            <div>
                <label for="coordinate">Coordinate</label>
                <input class="form-control" formControlName="coordinate" id="coordinate" type="text">
            </div>
        </div>
        <br>

        <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>
