<!--<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New meeting</h4>
</div>
<div class="mat-app-background basic-container">
    <mat-card class="basic-container">
        <form (ngSubmit)="saveUpdate()" class="example">
            <mat-form-field class="meeting-full-width">
                <mat-label>Title</mat-label>
                <input formControlName="title" matInput placeholder="Title" required value="">
                <mat-hint>Title is required</mat-hint>

            </mat-form-field>

            <mat-form-field class="meeting-full-width">
                <mat-label>Description</mat-label>
                <textarea formControlName="description" matInput placeholder="Meeting description" required></textarea>
                <mat-hint>Description is required</mat-hint>

            </mat-form-field>


               <mat-form-field class="meeting-full-width">
                    <mat-label>Participants</mat-label>
                    <mat-select formControlName="participantsId" multiple>
                        <mat-select-trigger>
                            <mat-chip-list>
                                <mat-chip (removed)="onUserRemoved(user)"
                                          *ngFor="let user of meetingRequestForm.get('participantsId').value"
                                          [removable]="true">
                                    {{ user }}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                            </mat-chip-list>
                        </mat-select-trigger>
                        <mat-option *ngFor="let user of userList" [value]="user.userName">{{user.userName}}</mat-option>
                    </mat-select>
                    <mat-hint>Should choose participants</mat-hint>

                </mat-form-field>
                <br>


            <mat-form-field class="meeting-full-width">
                <mat-label>Select room</mat-label>
                <mat-select formControlName="meetingRoomId" id="select-room" required>
                    <ng-container>
                        <mat-option

                        ></mat-option>
                    </ng-container>
                </mat-select>
                <mat-hint>Select a meeting room</mat-hint>

            </mat-form-field>
            <br>

                 <mat-form-field appearance="fill" class="meeting-full-width">
                     <mat-label>TIMEPICKER</mat-label>
                     <input #t="matTimepicker" formControlName="endDateTime"
                            id="timepicker-example" matTimepicker
                            mode="24h"
                            name="time" placeholder="Please select time..." required>
                     <mat-icon (click)="t.showDialog()" matSuffix>access_time</mat-icon>
                     <mat-hint>Select time</mat-hint>

                 </mat-form-field>
                 <br>


            <button color="primary" mat-raised-button>Save</button>
            <button color="primary" mat-button matDialogClose>Close</button>
        </form>
    </mat-card>
</div>
-->

