.card {
    min-width: 300px;
    width: 300px;
    text-align: center;

    margin-right: auto;
    margin-left: auto;
}

.button-group {
    text-align: center;
}

.btn btn-outline-info {
    margin-left: 10px;
}


.card-text {
    text-align: justify;
}

.card-image {
    height: 200px;
    width: 100%;
    display: block;
}

.card-body-date {
    max-height: 30px;
}

.card-body-text {
    min-height: 208px;
}

.btn btn-info {
    margin-left: 10px !important;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
}

section {
    display: table;
}

.example-button-row {
    display: table-cell;
    width: 490px;
}


