.card {
    min-width: 300px;
    width: 300px;
    text-align: center;

    margin: 40px;
    margin-right: auto;
    margin-left: auto;
}

.button-group {
    text-align: center;
}

.btn btn-outline-info {
    margin-left: 10px;
}


.card-text {
    text-align: justify;
}

.card-image {
    height: 200px;
    width: 100%;
    display: block;
}

.card-body-date {
    max-height: 30px;
}

.card-body-text {
    min-height: 208px;
}

