<!--
<h1>Create account</h1>
<form (ngSubmit)="submitRegistration()" [formGroup]="registrationForm">

    <div class="form-group">
        <label for="id">Id*</label>
        <input class="form-control" formControlName="id" id="id" type="number">
        <small class="text-danger">{{registrationForm.get('id').errors?.serverError}}</small>
    </div>
    <div class="form-group">
        <label for="firstName">First name*</label>
        <input class="form-control" formControlName="firstName" id="firstName" type="text">
        <small class="text-danger">{{registrationForm.get('firstName').errors?.serverError}}</small>
    </div>
    <div class="form-group">
        <label for="lastName">Last name*</label>
        <input class="form-control" formControlName="lastName" id="lastName" type="text">
        <small class="text-danger">{{registrationForm.get('lastName').errors?.serverError}}</small>
    </div>

    <div class="form-group">
        <label for="email">E-mail*</label>
        <input class="form-control" formControlName="email" id="email" type="text">
        <small class="text-danger">{{registrationForm.get('email').errors?.serverError}}</small>
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone Number*</label>
        <input class="form-control" formControlName="phoneNumber" id="phoneNumber" type="text">
        <small class="text-danger">{{registrationForm.get('phoneNumber').errors?.serverError}}</small>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
-->

<!--
<div class="mat-app-background basic-container">
    <mat-card class="basic-container">
        <mat-card-header>
            <mat-card-title>Confirm your registration with setting your password</mat-card-title>
        </mat-card-header>
        <form [formGroup]="registrationForm" (ngSubmit)="submitRegistration()">
            <mat-form-field class="example-full-width">
                <mat-label>Id</mat-label>
                <input matInput type="number" formControlName="id" required readonly>
                <mat-hint>Id is required</mat-hint>
                <mat-error>
                    {{registrationForm.get('id').errors?.serverError}}
                </mat-error>
                <mat-error
                    *ngIf="registrationForm.get('id').invalid && registrationForm.get('id').touched && !registrationForm.get('id').errors?.serverError"
                    class="text-danger">
                    Id is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <hr/>
            <mat-form-field class="example-full-width">
                <mat-label>Token</mat-label>
                <input matInput type="text" formControlName="token" required readonly>
                <mat-hint>Token is required</mat-hint>
                <mat-error>
                    {{registrationForm.get('token').errors?.serverError}}
                </mat-error>
                <mat-error
                    *ngIf="registrationForm.get('token').invalid && registrationForm.get('token').touched && !registrationForm.get('token').errors?.serverError"
                    class="text-danger">
                    Id is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <hr/>
            <mat-card-actions>
                <button mat-raised-button type="submit" color="primary">Confirm</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>
-->
<!--

<div layout="row" layout-align="center center" class="mat-app-background basic-container">
    <mat-card class="basic-container">
        <mat-card-header>
            <mat-card-title>Confirm your registration with setting your password</mat-card-title>
        </mat-card-header>

        <form layout="row" layout-align="center center" [formGroup]="registrationForm" (ngSubmit)="submitRegistration()">
            <mat-form-field class="example-full-width">
                <mat-label>Id</mat-label>
                <input matInput type="number" formControlName="id" required>
                <mat-hint>Id is required</mat-hint>
                <mat-error>
                    {{registrationForm.get('id').errors?.serverError}}
                </mat-error>
                <mat-error
                    *ngIf="registrationForm.get('id').invalid && registrationForm.get('id').touched && !registrationForm.get('id').errors?.serverError"
                    class="text-danger">
                    Id is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <hr/>
            <mat-form-field class="example-full-width">
                <mat-label>Token</mat-label>
                <input matInput type="text" formControlName="token" required>
                <mat-hint>Token is required</mat-hint>
                <mat-error>
                    {{registrationForm.get('token').errors?.serverError}}
                </mat-error>
                <mat-error
                    *ngIf="registrationForm.get('token').invalid && registrationForm.get('token').touched && !registrationForm.get('token').errors?.serverError"
                    class="text-danger">
                    Id is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <hr/>
            <mat-card-actions>
                <button mat-raised-button type="submit" color="primary">Confirm</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>
-->

<div class="mat-app-background basic-container">
    <!--    <mat-card style="margin-bottom: 86px">-->

    <mat-card-title>Registration</mat-card-title>

    <form [formGroup]="registrationForm" (ngSubmit)="submitRegistration()">
        <mat-form-field class="example-full-width">
            <mat-label>Id</mat-label>
            <input matInput type="number" formControlName="id" required>
            <mat-hint>Id is required</mat-hint>
            <mat-error>
                {{registrationForm.get('id').errors?.serverError}}
            </mat-error>
            <mat-error
                    *ngIf="registrationForm.get('id').invalid && registrationForm.get('id').touched && !registrationForm.get('id').errors?.serverError"
                    class="text-danger">
                    Id is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Firstname</mat-label>
                <input matInput type="text" formControlName="firstName" required>
                <mat-hint>Firstname is required</mat-hint>
                <mat-error>
                    {{registrationForm.get('firstName').errors?.serverError}}
                </mat-error>
                <mat-error
                    *ngIf="registrationForm.get('firstName').invalid && registrationForm.get('firstName').touched && !registrationForm.get('firstName').errors?.serverError"
                    class="text-danger">
                    Firstname is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Lastname</mat-label>
                <input matInput type="text" formControlName="lastName" required>
                <mat-hint>Lastname is required</mat-hint>
                <mat-error>
                    {{registrationForm.get('lastName').errors?.serverError}}
                </mat-error>
                <mat-error
                    *ngIf="registrationForm.get('lastName').invalid && registrationForm.get('lastName').touched && !registrationForm.get('lastName').errors?.serverError"
                    class="text-danger">
                    Lastname is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>email</mat-label>
                <input matInput type="text" formControlName="email" required>
                <mat-hint>email is required</mat-hint>
                <mat-error>
                    {{registrationForm.get('email').errors?.serverError}}
                </mat-error>
                <mat-error
                    *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched && !registrationForm.get('email').errors?.serverError"
                    class="text-danger">
                    email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Mobil phone number(example: +36301234567)</mat-label>
                <input matInput type="text" formControlName="phoneNumber" required>
                <mat-hint>Mobil phone number is required</mat-hint>
                <mat-error>
                    {{registrationForm.get('phoneNumber').errors?.serverError}}
                </mat-error>
                <mat-error
                    *ngIf="registrationForm.get('phoneNumber').invalid && registrationForm.get('phoneNumber').touched && !registrationForm.get('phoneNumber').errors?.serverError"
                    class="text-danger">
                    Mobil phone number is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
        <button color="primary" mat-raised-button type="submit">Submit</button>
        </form>
<!--    </mat-card>-->
</div>

