<h1>Create account</h1>
<form (ngSubmit)="submitPassword()" [formGroup]="passwordForm">
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" formControlName="password" id="password" type="password">
        <small class="text-danger">{{passwordForm.get('password').errors?.passwordForm}}</small>
    </div>
    <div class="form-group">
        <label for="password2">Password confirmation</label>
        <input class="form-control" formControlName="password2" id="password2" type="password">
        <small class="text-danger">{{passwordForm.get('password2').errors?.passwordForm}}</small>
        <small *ngIf="passwordForm.get('password2').touched && passwordForm.get('password').value!==passwordForm.get('password2').value" class="text-danger">the password confirmation is incorrect</small>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
