<div class="mat-app-background basic-container">
    <mat-tab-group (selectedTabChange)="tabChanged($event)" [(selectedIndex)]="index" dynamicHeight animationDuration="200ms">
        <mat-tab label="Active open positions">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let openPosition of activeOpenPositionList"
                                     hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{openPosition.positionName}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>{{openPosition.description}}</p><br><hr>
                    <p>Application deadline: {{openPosition.deadline}}</p>
                    <mat-action-row>
                        <button *ngIf="openPosition.userId !== currentUserId" mat-raised-button color="success" (click)="apply(openPosition.id)">
                            Apply
                        </button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>
        <mat-tab label="My open positions">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let openPosition of myOpenPositionList"
                                     hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{openPosition.positionName}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>{{openPosition.description}}</p><br><hr>
                    <p>Application deadline: {{openPosition.deadline}}</p>
                    <mat-action-row>
<!--                        <button *ngIf="openPosition.userId === currentUserId" mat-raised-button color="success" (click)="applicantList(openPosition.id)">-->
<!--                            Applicants list-->
<!--                        </button>-->
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>

        <mat-tab label="Create new open position">
            <form class="example-form" [formGroup]="openPositionForm" (ngSubmit)="Submit()">
                <mat-form-field class="open-position-full-width">
                    <mat-label>Open position name</mat-label>
                    <input matInput placeholder="Open position name" formControlName="positionName" required="true">
                    <mat-hint>Open position title is required</mat-hint>
                    <mat-error>
                        {{openPositionForm.get('positionName').errors?.serverError}}
                    </mat-error>
                    <mat-error
                        *ngIf="openPositionForm.get('positionName').invalid && openPositionForm.get('positionName').touched&&!openPositionForm.get('positionName').errors?.serverError">
                        Open position title is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="open-position-full-width">
                    <mat-label>Open position description</mat-label>
                    <textarea matInput placeholder="Open position description" formControlName="description" required="true"></textarea>
                    <mat-hint>Open position description is required</mat-hint>
                    <mat-error>
                        {{openPositionForm.get('description').errors?.serverError}}
                    </mat-error>
                    <mat-error
                        *ngIf="openPositionForm.get('description').invalid && openPositionForm.get('description').touched&&!openPositionForm.get('description').errors?.serverError">
                        Open position description is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="open-position-full-width" appearance="fill">
                    <mat-label>Pick the deadline</mat-label>
                    <!-- #docregion toggle -->
                    <input matInput type="date"
                           [min]="minDate" [max]="maxDate" disabled placeholder="start date"
                           required formControlName="deadline">
                    <mat-hint>Open position deadline is required</mat-hint>
                    <mat-error
                        *ngIf="openPositionForm.get('deadline').invalid && openPositionForm.get('deadline').touched&&!openPositionForm.get('deadline').errors?.serverError">
                        Open position deadline is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="openPositionForm.get('deadline').errors?.serverError">
                        {{openPositionForm.get('deadline').errors?.serverError}}
                    </mat-error>

                    <!--                    <mat-error *ngIf="openPositionForm.get('deadline').hasError('matDatepickerParse')">-->
                    <!--                        "{{openPositionForm.get('deadline').getError('matDatepickerParse').text}}"-->
                    <!--                        is not a valid date!-->
                    <!--                    </mat-error>-->
                    <!--                    <mat-error *ngIf="openPositionForm.get('deadline').hasError('matDatepickerMin')">-->
                    <!--                        Minimum date should be {{minDate | date }}</mat-error>-->
                    <!-- #enddocregion toggle -->
                </mat-form-field>
                <br><br>
                <button color="primary" mat-raised-button type="submit">Submit</button>
            </form>
        </mat-tab>
    </mat-tab-group>
</div>
