<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New meeting</h4>
    <button aria-label="Close" class="close" type="button">
        <span aria-hidden="true" mat-dialog-close type="button">×</span>
    </button>
</div>
<div class="mat-app-background basic-container">
    <form (ngSubmit)="saveMeeting()" [formGroup]="meetingRequestForm" class="example">
        <mat-form-field class="meeting-full-width">
            <mat-label>Title</mat-label>
            <input formControlName="title" matInput placeholder="Title">

        </mat-form-field>

        <mat-form-field class="meeting-full-width">
            <mat-label>Description</mat-label>
            <textarea formControlName="description" matInput placeholder="Meeting description"></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Select participants</mat-label>
            <mat-select placeholder="Type a name">
                <mat-option (onSelectionChange)="saveUserId(user.userId)" *ngFor="let user of userList"
                            [value]="user.userName">
                    {{user.userName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <label>Selected Users:</label>
        <mat-list dense>
            <mat-list-item *ngIf="selectedUsers?.length === 0">(None)</mat-list-item>
            <mat-list-item *ngFor="let user of selectedUsers">
                {{ user }}
            </mat-list-item>
        </mat-list>


        <mat-form-field class="meeting-full-width">
            <mat-label>Select room</mat-label>
            <mat-select formControlName="meetingRoomId" id="select-room">
                <mat-option
                    *ngFor="let room of meetingRoomList"
                    [value]="room.roomId"
                >{{room.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input [defaultValue]="startDate" formControlName="startDate" matInput type="datetime-local">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="endDate" matInput type="datetime-local">
        </mat-form-field>

        <button mat-button>Save</button>
    </form>
</div>
