

<div class="mat-app-background basic-container">
    <mat-tab-group [(selectedIndex)]="index" animationDuration="200ms" dynamicHeight>
        <mat-tab label="Request time off">
            <mat-card class="basic-container">
                <form (ngSubmit)="saveDate()" [formGroup]="timeOffForm">
                    <mat-form-field appearance="fill" class="request">
                        <mat-label>Pick start date</mat-label>
                        <input [min]="minDate" formControlName="startDate"
                               matInput
                               placeholder="start date"
                               required
                               type="date">
                        <mat-error>
                            {{timeOffForm.get('startDate').errors?.serverError}}
                        </mat-error>
                        <mat-error *ngIf="timeOffForm.get('startDate').hasError('matDatepickerParse')">
                            "{{timeOffForm.get('startDate').getError('matDatepickerParse').text}}"
                            is not a valid date!
                        </mat-error>
                        <mat-error *ngIf="timeOffForm.get('startDate').hasError('matDatepickerMin')">
                            Minimum date should be {{minDate | date }}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="request">
                        <mat-label class="endDate">Pick end date</mat-label>
                        <input [min]="minDateForEndDate" formControlName="endDate"
                               matInput
                               placeholder="end date"
                               required
                               type="date">
                        <mat-error>
                            {{timeOffForm.get('endDate').errors?.serverError}}
                        </mat-error>
                        <mat-error *ngIf="timeOffForm.get('endDate').hasError('matDatepickerParse')">
                            "{{timeOffForm.get('endDate').getError('matDatepickerParse').text}}"
                            is not a valid date!
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <button color="primary" mat-raised-button type="submit">Save Date</button>
                </form>
            </mat-card>
        </mat-tab>
        <mat-tab label="Accepted">
            <mat-accordion>
                <table class="table table-striped table-light">
                    <thead>
                    <tr>
                        <th scope="col">Start date</th>
                        <th scope="col">End date</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let acceptedDate of acceptedTimeOffList">
                    <tr>
                        <td>{{acceptedDate.startDate}}</td>
                        <td>{{acceptedDate.endDate}}</td>
                        <td>{{acceptedDate.status}}</td>
                    </tr>
                    </tbody>
                </table>
            </mat-accordion>
        </mat-tab>
        <mat-tab label="Pending">
            <mat-accordion>
                <table class="table table-striped table-light">
                    <thead>
                    <tr>
                        <th scope="col">Start date</th>
                        <th scope="col">End date</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let pendingDate of pendingTimeOffList">
                    <tr>
                        <td>{{pendingDate.startDate}}</td>
                        <td>{{pendingDate.endDate}}</td>
                        <td>{{pendingDate.status}}</td>
                        <td>
                            <button (click)="deleteRequest(pendingDate.timeOffId)" color="warn" mat-raised-button>
                                Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </mat-accordion>
        </mat-tab>
        <mat-tab label="Rejected">
            <mat-accordion>
                <table class="table table-striped table-light">
                    <thead>
                    <tr>
                        <th scope="col">Start date</th>
                        <th scope="col">End date</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let rejectedDate of rejectedTimeOffList">
                    <tr>
                        <td>{{rejectedDate.startDate}}</td>
                        <td>{{rejectedDate.endDate}}</td>
                        <td>{{rejectedDate.status}}</td>
                    </tr>
                    </tbody>
                </table>
            </mat-accordion>
        </mat-tab>
    </mat-tab-group>
</div>



