<div class="mat-app-background basic-container">
    <mat-tab-group [selectedIndex]="activeIndex" dynamicHeight animationDuration="200ms">
        <mat-tab label="Suggestion List">

        </mat-tab>
        <mat-tab label="My suggestions">

        </mat-tab >
        <mat-tab label="New suggestion">
            <form class="example-form">
                <mat-form-field class="suggestion-full-width">
                    <mat-label>Suggestion title</mat-label>
                    <input matInput placeholder="Suggestion title">
                </mat-form-field>

                <mat-form-field class="suggestion-full-width">
                    <mat-label>Suggestion description</mat-label>
                    <textarea matInput placeholder="Suggestion description"></textarea>
                </mat-form-field>
                <button mat-raised-button type="submit" color="primary">Submit</button>
            </form>
        </mat-tab>
    </mat-tab-group>
</div>
