<div class="mat-app-dialog basic-container">
    <mat-tab-group [(selectedIndex)]="index" dynamicHeight animationDuration="200ms">
        <mat-tab label="Active suggestions">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let suggestion of activeSuggestionList"
                                     (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false"
                                     hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{suggestion.title}}
                        </mat-panel-title>
                        + {{suggestion.countUp}} / - {{suggestion.countDown}}
                    </mat-expansion-panel-header>
                    <p>{{suggestion.description}}</p>
                    <mat-action-row>
                        <button *ngIf="suggestion.userId !== currentUserId" mat-raised-button color="success"
                                (click)="voting('UP', suggestion.userId, suggestion.id)">
                            Vote +
                        </button>
                        <button *ngIf="suggestion.userId !== currentUserId" mat-raised-button color="warn"
                                (click)="voting('DOWN',suggestion.userId,suggestion.id)">
                            Vote -
                        </button>
                        <button mat-raised-button color="success" (click)="acceptSuggestion(suggestion.id)">
                            Accept
                        </button>
                        <button mat-raised-button color="warn" (click)="rejectSuggestion(suggestion.id)">
                            Reject
                        </button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>
        <mat-tab label="Closed suggestions">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let suggestion of closedSuggestionList"
                                     (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false"
                                     hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{suggestion.title}}
                        </mat-panel-title>
                        {{suggestion.status}}
                    </mat-expansion-panel-header>
                    <p>{{suggestion.description}}</p>
                    <mat-action-row>
                        <button mat-raised-button color="primary" (click)="reactivateSuggestion(suggestion.id)">
                            Reactivate
                        </button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>
        <mat-tab label="My suggestions">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let mySuggestion of mySuggestionList"
                                     (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false"
                                     hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{mySuggestion.title}}  /  {{mySuggestion.status}}
                        </mat-panel-title>
                        + {{mySuggestion.countUp}}/- {{mySuggestion.countDown}}
                    </mat-expansion-panel-header>
                    <p>{{mySuggestion.description}}</p>
                    <mat-action-row>
                        <button *ngIf="mySuggestion.status!=='DELETED'" mat-raised-button color="warn" (click)="deleteSuggestion(mySuggestion.id)">
                            Delete
                        </button>
                        <button *ngIf="mySuggestion.status==='DELETED'" mat-raised-button color="primary" (click)="reactivateSuggestion(mySuggestion.id)">
                            Reactivate
                        </button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>
        <mat-tab label="New suggestion">
            <form class="example-form" [formGroup]="suggestionForm" (ngSubmit)="Submit()">
                <mat-form-field class="suggestion-full-width">
                    <mat-label>Suggestion title</mat-label>
                    <input matInput placeholder="Suggestion title" formControlName="title">
                    <mat-hint>Suggestion title is required</mat-hint>
                    <mat-error>
                        {{suggestionForm.get('title').errors?.serverError}}
                    </mat-error>
                    <mat-error *ngIf="suggestionForm.get('title').invalid && suggestionForm.get('title').dirty">
                        Suggestion title is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="suggestion-full-width">
                    <mat-label>Suggestion description</mat-label>
                    <textarea matInput placeholder="Suggestion description" formControlName="description"></textarea>
                    <mat-hint>Suggestion description is required</mat-hint>
                    <mat-error>
                        {{suggestionForm.get('description').errors?.serverError}}
                    </mat-error>
                    <mat-error
                        *ngIf="suggestionForm.get('description').invalid && suggestionForm.get('description').dirty">
                        Suggestion description is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-card-actions>
                    <button mat-raised-button type="submit" color="primary">Submit</button>
                </mat-card-actions>
            </form>
        </mat-tab>
    </mat-tab-group>
</div>
