<!--
<div>
    <h3>Login form</h3>
    <hr/>
    <form [formGroup]="loginForm">
        <div class="form-group">
            <label
                for="id"
                class="form-control-label"
                [ngClass]="{'text-danger': loginForm.get('id').invalid && loginForm.get('id').touched
                    || loginForm.get('id').errors?.serverError}"
            >
                Id:
            </label>
            <input
                type="number"
                id="id"
                formControlName="id"
                name="id"
                placeholder="id"
                class="form-control"
                [ngClass]="{'is-invalid': loginForm.get('id').invalid && loginForm.get('id').touched
                    || loginForm.get('id').errors?.serverError|| loginForm.get('password').errors?.serverError}"
            />
            <small *ngIf="loginForm.get('id').invalid && loginForm.get('id').touched && !loginForm.get('id').errors?.serverError" class="text-danger">
                Please enter an id
            </small>
            <small class="text-danger">{{loginForm.get('id').errors?.serverError}}</small>
        </div>

        <div class="form-group">
            <label
                for="password"
                class="form-control-label"
                [ngClass]="{'text-danger': loginForm.get('password').invalid && loginForm.get('password').touched
                    || loginForm.get('password').errors?.serverError}"
            >
                Password:
            </label>
            <input
                type="password"
                id="password"
                formControlName="password"
                name="password"
                placeholder="password"
                class="form-control"
                [ngClass]="{'is-invalid': loginForm.get('password').invalid && loginForm.get('password').touched
                    || loginForm.get('password').errors?.serverError}"
            />
            <small *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched && !loginForm.get('password').errors?.serverError" class="text-danger">
                Please enter a password
            </small>
            <small class="text-danger">{{loginForm.get('password').errors?.serverError}}</small>
        </div>

        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-success" (click)="submitLogin()">Login</button>
    </form>
</div>
-->

<div class="mat-app-background basic-container">
    <mat-card class="basic-container">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>

        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" autocomplete="off">
            <mat-form-field class="example-full-width">
                <mat-label>Id</mat-label>
                <input matInput type="number" formControlName="id" required autocomplete="off">
                <mat-hint>Id is required</mat-hint>
                <mat-error>
                    {{loginForm.get('id').errors?.serverError}}
                </mat-error>
                <mat-error
                    *ngIf="loginForm.get('id').invalid && loginForm.get('id').touched && !loginForm.get('id').errors?.serverError"
                    class="text-danger">
                    Id is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <hr/>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required autocomplete="off">

                <mat-icon class="show-hide" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-hint>Password is required</mat-hint>
                <mat-error>
                    {{loginForm.get('password').errors?.serverError}}
                </mat-error>
                <mat-error
                    *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <hr/>
            <mat-card-actions>
                <button mat-raised-button type="submit" color="primary">Login</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>

