<h1>{{confirmation}}</h1>
<h1>Create password</h1>
<form (ngSubmit)="submitPassword()" [formGroup]="passwordForm">
    <div class="form-group">
        <label for="id">Id</label>
        <input class="form-control" formControlName="id" id="id" type="number" disabled>
        <small class="text-danger">{{passwordForm.get('id').errors?.serverError}}</small>
    </div>
    <div class="form-group">
        <label for="token">Token</label>
        <input class="form-control" formControlName="token" id="token" type="text" disabled>
        <small class="text-danger">{{passwordForm.get('token').errors?.serverError}}</small>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" formControlName="password" id="password" type="password">
        <small class="text-danger">{{passwordForm.get('password').errors?.serverError}}</small>
    </div>
    <div class="form-group">
        <label for="password2">Password confirmation</label>
        <input class="form-control" formControlName="password2" id="password2" type="password">
        <small class="text-danger">{{passwordForm.get('password2').errors?.serverError}}</small>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
